<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>
<%= @elements.each do |element| %>
  <p><%= element.inner_text %><p>
    <p><%= element[:href] %></p>
    <p>------------------------------</p>
<% end %>
