<div class="users-new-wrapper text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="title-text">いいねしたユーザー</h1>
        <% if @bravos.present? %>
          <h4><%= paginate @bravos %></h4>
          <ul class="users">
            <% @bravos.each do |bravo| %>
              <li class="user-info">
                <div class="user-details">
                  <div class="row">
                    <div class="col-md-4">
                      <%= image_tag bravo.user.image.url %>
                    </div>
                    <div class="col-md-8">
                      <h3><%= link_to bravo.user.name, bravo.user %><h3>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
          <h4><%= paginate @bravos %></h4>
        <% else %>
          <h3>まだいいねがありません</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
