//共通
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background-color: #f0f8ff;
}

header {
  height: 60px;
  width: 100%;
  padding: 0px 15px;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 11;
  display: flex;
  .logo {
    font-size: 25px;
  }

  nav {
    margin: 0 0 0 auto;
  }

  .menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    line-height: 60px;
    padding: 0 20px;
  }
}

.menu > li {
	position:relative;
  > ul {
    display:none;
    background-color: rgba(34, 49, 52, 0.9);
    position:absolute;
    top: 58px;
    z-index: 11;
    padding:0;
    list-style-type:none;
    a {
      color: #ffffff;
      text-decoration: none;
      display: block;
      line-height: 60px;
      padding: 0 20px;
    }
  }
}

#tabcontrol a {
   display: inline-block;            /* インラインブロック化 */
   border-width: 1px 1px 0px 1px;    /* 下以外の枠線を引く */
   border-style: solid;              /* 枠線の種類：実線 */
   border-color: black;              /* 枠線の色：黒色 */
   border-radius: 0.75em 0.75em 0 0; /* 枠線の左上角と右上角だけを丸く */
   padding: 0.75em 1em;              /* 内側の余白 */
   text-decoration: none;            /* リンクの下線を消す */
   color: black;                     /* 文字色：黒色 */
   background-color: white;          /* 背景色：白色 */
   font-weight: bold;                /* 太字 */
   position: relative;             /* JavaScriptでz-indexを調整するために必要 */
}
/* ▼タブにマウスポインタが載った際(任意) */
#tabcontrol a:hover {
   text-decoration: underline;       /* 文字に下線を引く */
}

#tabbody ul {
   border: 1px solid black; /* 枠線：黒色の実線を1pxの太さで引く */
   margin-top: -1px;        /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
   padding: 1em;            /* 内側の余白量 */
   background-color: white; /* 背景色：白色 */
   position: relative;      /* z-indexを調整するために必要 */
   z-index: 0;              /* 重なり順序を「最も背面」にするため */
}

#tabcontrol a:nth-child(1), #tabbody li:nth-child(1) { background-color: #ffffdd; }/* 1つ目のタブとその中身用の配色 */
#tabcontrol a:nth-child(2), #tabbody li:nth-child(2) { background-color: #ddffdd; }/* 2つ目のタブとその中身用の配色 */
#tabcontrol a:nth-child(3), #tabbody li:nth-child(3) { background-color: #ddddff; }/* 3つ目のタブとその中身用の配色 */

.tab-content {
  position: relative;
  overflow: hidden;
  &.is-animating {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    width: auto;
  }
}

.content-pane {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  opacity: 0;
  transform: translateX(100%) translateY(-50%);
  &.is-active {
    position: relative;
    opacity: 1;
    transform: translateX(0%);
  }
  &.is-exiting {
    opacity: 0;
    transform: translateX(-100%);
  }
  &.is-animating {
    transition: opacity 400ms ease-out, transform 400ms ease-out;
  }
}

// optional styling for CodePen example
.nav-tabs li.active a {
  background: #f8f8f8!important;
  border-bottom-color: transparent!important;
}
.nav-tabs li:not(.active) {
  border-bottom: 1px solid black;
}
.tab-content {
  margin-top: -1px;
  border: 1px solid #ddd;
  border-top: none;
  padding: 50px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #f8f8f8;
}


@media (min-width: 901px) {
  .sm {
    display: none;
  }

  .search-form {
    margin: 15px 10px 0 20px;
  }
}




/**********************************　
以下、ハンバーガーメニューの設定　
************************************/

@media (max-width: 900px) {

  .pc {
    display: none;
  }

  #hamburger {
    background-color: transparent;
    position: relative;
    cursor: pointer;
    margin: 0 0 0 auto;
    height: 60px;
    width: 60px;
  }

  .icon span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 8px;
    transition: ease 0.75s;
  }

  .icon span:nth-of-type(1) {
    top: 16px;
  }
  .icon span:nth-of-type(2) {
    top: 28px;
  }
  .icon span:nth-of-type(3) {
    bottom: 16px;
  }

  .close span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 28px;
  }

  .close span:nth-of-type(2) {
    opacity: 0;
  }

  .close span:nth-of-type(3) {
      transform: rotate(-45deg);
      top: 28px;
  }

  .sm {
      display:none;
      position: absolute;
      top: 60px;
      left: 0;
      z-index: 10;
      width: 100%;
      background-color: rgba(34, 49, 52, 0.9);
  }

  ul {
    flex-direction: column;
  }

  a {
    //text-align: center;
    border-top: solid 0.5px rgba(255, 255, 255, 0.6);
  }
  .event {
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.6);
  }
  .search-form {
    margin: 10px 0 10px 10px;
  }

}

#alert {
  width: 100%;
  position: fixed;
  top: 50px;
  z-index: 1030;
}

.title-text {
  margin-bottom: 40px;
}
#img_prev {
  width: 100%;
  height: 100%;
}
.users-new-wrapper, .posts-new-wrapper, .sessions-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  .container {
    padding-top: 100px;
  }
  .form-group {
    margin-bottom: 40px;
  }
}

.users, .posts{
  list-style: none;
  .user-info, .post-info {
    padding: 10px;
    margin-bottom: 30px;
    border:1px solid #CCC;
    border-radius: 4px;
    .user-details {
      img {
        height: 100%;
        width: 100%;
        padding: 10px;
      }
      h3 {
        margin-top: 50px;
      }
    }

  }
}

// posts/index

.posts {
  .post-info {

    h3 {
      word-break: break-all;
    }
    p {
      word-break: break-all;
      //margin-top: 20px;
      font-size: 1.5em;
    }
    .post-details {
      .post-contents {
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

// users/show
.account-info {
  margin-bottom: 70px;
  img {
    width: 50%;
    height: 50%;
  }
}

.index {
  .posts-index, .bravos-index, .favorites-index {
    border:1px solid #CCC;
    border-radius: 4px;
    cursor: pointer;
  }
}

.index-frame-p, .index-frame-b, .index-frame-f {
  //display: none;
  border:1px solid #CCC;
  border-radius: 4px;
  padding: 30px 20px 20px 20px;
}

//posts/show
.post-action {
  .post-menu {
    a {
      font-size: 1.5em;
    }
  }
}

//post_tags/index, bravo_tags/index
.new_tag_link {
  display: inline-block;
  margin-bottom: 40px;
}

.tags {
  list-style: none;
  .tag-info {
    padding: 10px;
    margin-bottom: 30px;
    border:1px solid #CCC;
    border-radius: 4px;
    h3 {
      word-break: break-all;
    }
    p {
      margin-top: 20px;
      font-size: 1.5em;
      }
  }
}

//comments/index

.comments{
  list-style: none;
  h3 {
    padding: 40px;
  }
  p {
    word-break: break-all;
    font-size: 1.4em;
  }
  .tag-info {
    padding: 10px;
    margin-bottom: 30px;
    border:1px solid #CCC;
    border-radius: 4px;
    .user-details {
      img {
        height: 100%;
        width: 100%;
      }
      p {
        margin-top: 20px;
        font-size: 1.5em;
      }
    }
    .comment-details {
      img {
        height: 100%;
        width: 100%;
      }
      p {
        margin-top: 30px;
      }
    }
  }
}

//pages/top

.top-info, .ranking-info {
  padding: 10px;
  margin-bottom: 30px;
  border:1px solid #CCC;
  border-radius: 4px;
  .top-post-info {
    p {
      word-break: break-all;
    }
    margin-bottom: 30px;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
