//共通
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background-color: #f0f8ff;
}

header {
  height: 60px;
  width: 100%;
  padding: 0px 15px;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  .logo {
    font-size: 25px;
  }

  nav {
    margin: 0 0 0 auto;
  }

  .menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    line-height: 60px;
    padding: 0 20px;
  }
}

.menu > li {
	position:relative;
  > ul {
    display:none;
    background-color: rgba(34, 49, 52, 0.9);
    position:absolute;
    top: 58px;
    z-index: 11;
    padding:0;
    list-style-type:none;
    a {
      color: #ffffff;
      text-decoration: none;
      display: block;
      line-height: 60px;
      padding: 0 20px;
    }
  }
}


@media (min-width: 901px) {
  .sm {
    display: none;
  }

  .search-form {
    margin: 15px 10px 0 20px;
  }
}




/**********************************　
以下、ハンバーガーメニューの設定　
************************************/

@media (max-width: 900px) {

  .pc {
    display: none;
  }

  #hamburger {
    background-color: transparent;
    position: relative;
    cursor: pointer;
    margin: 0 0 0 auto;
    height: 60px;
    width: 60px;
  }

  .icon span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 8px;
    transition: ease 0.75s;
  }

  .icon span:nth-of-type(1) {
    top: 16px;
  }
  .icon span:nth-of-type(2) {
    top: 28px;
  }
  .icon span:nth-of-type(3) {
    bottom: 16px;
  }

  .close span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 28px;
  }

  .close span:nth-of-type(2) {
    opacity: 0;
  }

  .close span:nth-of-type(3) {
      transform: rotate(-45deg);
      top: 28px;
  }

  .sm {
      display:none;
      position: absolute;
      top: 60px;
      left: 0;
      z-index: 10;
      width: 100%;
      background-color: rgba(34, 49, 52, 0.9);
  }

  ul {
    flex-direction: column;
  }

  a {
    //text-align: center;
    border-top: solid 0.5px rgba(255, 255, 255, 0.6);
  }
  .event {
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.6);
  }
  .search-form {
    margin: 10px 0 10px 10px;
  }

}

#alert {
  width: 100%;
  position: fixed;
  top: 50px;
  z-index: 1030;
}

.title-text {
  margin-bottom: 40px;
}
#img_prev {
  width: 100%;
  height: 100%;
}
.users-new-wrapper, .posts-new-wrapper, .sessions-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  .container {
    padding-top: 100px;
  }
  .form-group {
    margin-bottom: 40px;
  }
}

.users, .posts{
  list-style: none;
  .user-info, .post-info {
    padding: 10px;
    margin-bottom: 30px;
    border:1px solid #CCC;
    border-radius: 4px;
    .user-details {
      img {
        height: 100%;
        width: 100%;
        padding: 10px;
      }
      h3 {
        margin-top: 50px;
      }
    }

  }
}

// posts/index

.posts {
  .post-info {

    h3 {
      word-break: break-all;
    }
    p {
      word-break: break-all;
      margin-top: 20px;
      font-size: 1.5em;
    }
    .post-details {
      .post-contents {
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

// users/show
.account-info {
  margin-bottom: 70px;
  img {
    width: 50%;
    height: 50%;
  }
}

.index {
  .posts-index, .bravos-index, .favorites-index {
    border:1px solid #CCC;
    border-radius: 4px;
    cursor: pointer;
  }
}

.index-frame-p, .index-frame-b, .index-frame-f {
  //display: none;
  border:1px solid #CCC;
  border-radius: 4px;
  padding: 30px 20px 20px 20px;
}

//posts/show
.post-action {
  .post-menu {
    a {
      font-size: 1.5em;
    }
  }
}

//post_tags/index, bravo_tags/index
.new_tag_link {
  display: inline-block;
  margin-bottom: 40px;
}

.tags {
  list-style: none;
  .tag-info {
    padding: 10px;
    margin-bottom: 30px;
    border:1px solid #CCC;
    border-radius: 4px;
    h3 {
      word-break: break-all;
    }
    p {
      margin-top: 20px;
      font-size: 1.5em;
      }
  }
}

//comments/index

.comments{
  list-style: none;
  h3 {
    padding: 40px;
  }
  p {
    word-break: break-all;
    font-size: 1.4em;
  }
  .tag-info {
    padding: 10px;
    margin-bottom: 30px;
    border:1px solid #CCC;
    border-radius: 4px;
    .user-details {
      img {
        height: 100%;
        width: 100%;
      }
      p {
        margin-top: 20px;
        font-size: 1.5em;
      }
    }
    .comment-details {
      img {
        height: 100%;
        width: 100%;
      }
      p {
        margin-top: 30px;
      }
    }
  }
}

//pages/top

.top-info, .ranking-info {
  padding: 10px;
  margin-bottom: 30px;
  border:1px solid #CCC;
  border-radius: 4px;
  .top-post-info {
    p {
      word-break: break-all;
    }
    margin-bottom: 30px;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
