//共通
.search-form {
  margin: 10px 0 0 20px;
}

#alert {
  width: 100%;
  position: fixed;
  top: 50px;
  z-index: 1030;
}

.title-text {
  margin-bottom: 40px;
}
#img_prev {
  width: 100%;
  height: 100%;
}
.users-new-wrapper, .posts-new-wrapper, .sessions-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  .container {
    padding-top: 100px;
  }
  .form-group {
    margin-bottom: 40px;
  }
}

.users, .posts{
  list-style: none;
  .user-info, .post-info {
    padding: 10px;
    margin-bottom: 30px;
    border:1px solid #CCC;
    border-radius: 4px;
    .user-details {
      img {
        height: 100%;
        width: 100%;
        padding: 10px;
      }
      h3 {
        margin-top: 50px;
      }
    }

  }
}

// posts/index

.posts {
  .post-info {

    h3 {
      word-break: break-all;
    }
    p {
      word-break: break-all;
      margin-top: 20px;
      font-size: 1.5em;
    }
    .post-details {
      .post-contents {
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

// users/show
.account-info {
  margin-bottom: 70px;
  img {
    width: 50%;
    height: 50%;
  }
}

.index {
  .posts-index, .bravos-index, .favorites-index {
    border:1px solid #CCC;
    border-radius: 4px;
    cursor: pointer;
  }
}

.index-frame-p, .index-frame-b, .index-frame-f {
  //display: none;
  border:1px solid #CCC;
  border-radius: 4px;
  padding: 30px 20px 20px 20px;
}

//posts/show
.post-action {
  .post-menu {
    a {
      font-size: 1.5em;
    }
  }
}

//post_tags/index, bravo_tags/index
.new_tag_link {
  display: inline-block;
  margin-bottom: 40px;
}

.tags {
  list-style: none;
  .tag-info {
    padding: 10px;
    margin-bottom: 30px;
    border:1px solid #CCC;
    border-radius: 4px;
    h3 {
      word-break: break-all;
    }
    p {
      margin-top: 20px;
      font-size: 1.5em;
      }
  }
}

//comments/index

.comments{
  list-style: none;
  h3 {
    padding: 40px;
  }
  p {
    word-break: break-all;
    font-size: 1.4em;
  }
  .tag-info {
    padding: 10px;
    margin-bottom: 30px;
    border:1px solid #CCC;
    border-radius: 4px;
    .user-details {
      img {
        height: 100%;
        width: 100%;
      }
      p {
        margin-top: 20px;
        font-size: 1.5em;
      }
    }
    .comment-details {
      img {
        height: 100%;
        width: 100%;
      }
      p {
        margin-top: 30px;
      }
    }
  }
}

//pages/top

.top-info, .ranking-info {
  padding:40px 10px 10px 10px;
  margin-bottom: 30px;
  border:1px solid #CCC;
  border-radius: 4px;
  .top-post-info {
    p {
      word-break: break-all;
    }
    margin-bottom: 30px;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
